@model IEnumerable<Vidly2.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


    @foreach (var movie in Model)
    {
        <p>@Html.ActionLink(movie.Name, "MovieDetails","Movies",new { id = movie.Id },null)</p>
        
    }
